body {
    margin: 0px;
}

.page {
    margin-top: -38px;
}

.sub-header img {
    margin-top: 6.2%;
    padding-top: 38px;
    max-width: 100%;
}

section {
    display: grid;
    grid-template-columns: 1fr,1fr;
}

#txt-for-subh {
    font-family: "Parisienne", static;
    color: #F9F9F9;
    font-style: normal;
    font-weight: 400;
    margin-top: -205px;
    margin-left: 8px;
    padding-left: 146px;
    padding-right: 24px;
    font-size: 2rem;
    text-align: right;
}

.rect_grey {
    background-color: #D9D9D9;
    width: 306px;
    height: 62px;
    position: absolute;
    z-index: 1;
    margin-top: 93px;
}

.rect_grey h3 {
    text-align: center;
    font-size: 38px;
    font-weight: 400;
    font-family: "Glass Antiqua", cursive;
    margin-top: 13px;
}

#center_acc {
    display: grid;
    grid-template-columns: 1fr;
}

.text {
    z-index: 1;
    opacity: 0;
    display: none;
    white-space: pre-line;
    margin-right: 20px;
    font-size: 1.1rem;
}

#center_acc img {
    width: 100%;
    height: 304px;
    object-fit: cover;
    border-radius: 35px;
    transition: .5s ease;
}

.bloc {
    margin-top: 135px;
    margin-left: 38px;
    position: relative;
}

.overlay {
    z-index: 0;
    height: 304px;
    border-radius: 35px;
    background-color: black;
}

#center_acc img:hover {
    opacity: 0.5;
}

.overlay:hover .text {
    text-align: end;
    display: block;
    opacity: 1;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(0%,-30%)
}

.overlay .bt {
    display: none;
}

.overlay:hover .bt {
    z-index: 2;
    display: block;
    opacity: 1;
    position: absolute;
    top: 80%;
    left: 51%;
    transform : translate(0%,-35%)
}

.overlay:hover .add {
    display: block;
}

.div1 { grid-area: 1 / 2 / 3 / 3; } 

#recette{
    display: none;
}


.mid-page {
    margin-right: 22%;
}

.grid-lower-page {
    display: flex;
    flex-direction: column;
    background-color: #78AE6C;
    margin-top: 38px;
    text-align: center;
}

.grid-lower-page h2 {
    color: #F9F9F9;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-top: 10px;
}

.grid-lower-page img {
    max-width: 85%;
    max-height: 100%;
    height: auto;
    border-radius: 30px;
    margin-top: -40px;
}

.grid-lower-page .bt {
    width: 138px;
    height: 42px;
    margin-top: 15px;
}

.grid-lower-page .bt a{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    font-family: "Glass Antiqua", cursive;
    margin: auto;
}

p, li, ul {
    margin-left: 10px;
    color: #F9F9F9;
    font-size: 23px;
    font-weight: 400;
    font-family: "Glass Antiqua", cursive;
}

.bt, img {
    cursor: pointer;
}


@media screen and (min-width: 909px) {

    .sub-header img {
        width: 100%;
        max-height: 800px;
        object-fit: cover;
    }

    #txt-for-subh {
        font-size: 4em;
        margin-top: -300px;
        margin-left: 8px;
        padding-right: 24px;
    }

    #center_acc img {
        box-shadow: 10px 12px 4px rgba(0, 0, 0, 0.25);    
    }

    .rect_grey {
        margin-top: 93px;
    }

    .mid-page {
        margin-right: 5%;
    }

    .grid-lower-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 85px;
    }
    
    .grid-lower-page img{
        margin-top: 45px;
        margin-bottom: 45px;
        width: 100%;
    }

    
}

@media screen and (min-width: 1029px) {
    #recette {
        display: block;
    }
    .bt {
        display: none;
    }
    .text {
        font-size: 25px;
    }
}

@media screen and (max-width: 682px) {

    .sub-header img {
        margin-top: 20.2%;
    }
}

@media screen and (max-width: 360px) {
    #txt-for-subh {
        font-size: 26px;
    }
}

@media screen and (max-width: 320px) {
    #txt-for-subh {
        font-size: 24px;
    }

}


/* Page Vente */

.ov {
    background-color: black;
    height: 355px;
    text-align: center;
}

.container_grid {
    display: grid;
    grid-template-rows: 0.2fr repeat(5,1fr);
    background-color: #F9F9F9;
    margin: 10px;
    margin-top: 7%;
    gap: 20px;
}

.container_grid img {
    z-index: 0;
    width: 100%;
    height: 355px;
    object-fit: cover;
    transition: 0.5s ease;
}

.title_vente {
    text-align: center;
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

.container_grid img:hover {
    opacity: 0.5;
}
.div0, .div2, .div3, .div4, .div5 {
    position: relative;
}

.info {
    z-index: 2;
    font-size: 3em;
    opacity: 0;
    display: none;
    white-space: pre-line;
}

.cls {
    display: none;
    height: 25%;
    width: 45%;
    border-radius: 100px;
}

.add {
    margin-top: 12px;
    display: none;
    font-size: 2.3em;
    color: black;
    padding-right: 12px;
}

.div0:hover .info {
    display: block;
    opacity: 1;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.div0:hover .cls {
    z-index: 2;
    display: block;
    opacity: 1;
    position: absolute;
    top: 80%;
    left: 51%;
    transform : translate(-50%,-50%)
}

.div0:hover .add {
    display: block;
}

.div2:hover .info {
    display: block;
    opacity: 1;
    position: absolute;
    top: 15%;
    left: 50%;
    transform : translate(-50%,-50%)
}

.div2:hover .cls {
    margin-top: 10px;
    z-index: 2;
    display: block;
    opacity: 1;
    position: absolute;
    top: 80%;
    left: 51%;
    transform : translate(-50%,-50%)
}

.div2:hover .add {
    display: block;
}

.div3:hover .info {
    display: block;
    opacity: 1;
    position: absolute;
    top: 15%;
    left: 50%;
    transform : translate(-50%,-50%)
}

.div3:hover .cls {
    z-index: 2;
    display: block;
    opacity: 1;
    position: absolute;
    top: 80%;
    left: 51%;
    transform : translate(-50%,-50%)
}

.div3:hover .add {
    display: block;
}

.div4:hover .info {
    display: block;
    opacity: 1;
    position: absolute;
    top: 15%;
    left: 50%;
    transform : translate(-50%,-50%)
}

.div4:hover .cls {
    margin-top: 15px;
    z-index: 2;
    display: block;
    opacity: 1;
    position: absolute;
    top: 80%;
    left: 51%;
    transform : translate(-50%,-50%)
}

.div4:hover .add {
    display: block;
}

.div5:hover .info {
    display: block;
    opacity: 1;
    position: absolute;
    top: 15%;
    left: 50%;
    transform : translate(-50%,-50%)
}

.div5:hover .cls {
    z-index: 2;
    display: block;
    opacity: 1;
    position: absolute;
    top: 80%;
    left: 51%;
    transform : translate(-50%,-50%)
}

.div5:hover .add {
    display: block;
}

@media screen and (max-width: 2055px) {
    main {
        margin-top: 10rem;
    }
}

@media screen and (min-width: 1081px) {
    .container_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr repeat(2, 2fr); 
    }
    .title_vente { grid-area: 1 / 1 / 2 / 4; }
    .div4 {
        grid-column: 1 / 2; /* Occupera la deuxième colonne */
        grid-row: 3 / 4; /* Occupera la troisième ligne */
        width: 100%; /* Occupera la moitié de la largeur */
    }
    
    .div5 {
        grid-column: 2 / 4; /* Occupera la deuxième colonne */
        grid-row: 3 / 4; /* Occupera la troisième ligne */
        width: 100%; /* Occupera la moitié de la largeur */
    }
    .container_grid img + div{
        height: 500px;
    }
}

@media screen and (max-width: 337px) {
    .add {
        font-size: 2em;
    }
}